body {
	margin: 0;
	background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
	background-size: cover;
}

.ls-header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  	z-index: 0;
  	margin-bottom: 10px;
}

.ls-text-wrapper {
	flex-basis: 70%;
	font-family: 'Rubik', sans-serif;
	color: white;
}

.ls-title {
	font-size: 80px;
}

.card-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	z-index: 1;
}

.card {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 10px;
	width: 800px;
	height: 800px;
	background-color: white;
}

#sigma-container {
	width: 800px;
	height: 800px;
	position: absolute;
}

@media (max-width: 800px) {
	.card {
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		border-radius: 10px;
		width: 325px;
		height: 325px;
		margin-top: -20px;
		background-color: white;
	}

	#sigma-container {
		width: 325px;
		height: 325px;
		position: absolute;
	}

	.ls-title {
		font-size: 50px;
	}

	.ls-header {
		padding-left: 0;
		padding-right: 0;
	}
}